.card{
    padding:2vh;
    background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0.88) 45.69%, rgba(0, 0, 0, 0) 100%);
    /* background: linear-gradient(-180deg, rgba(0,0,0,0.02874653279280459) 0%, rgba(0,0,0,0.88) 65%, rgba(0,0,0,1) 100%); */
    margin:2vh;
    height:45vh !important;
    width:35vh;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    color:white;
    cursor:pointer;
    transition: 0.4s;
}
.card:hover{
    height:48vh !important;
    transition: 0.4s;
}
.card h2{
    font-weight:300;
    margin:0;
}
.card p{
    font-weight:300;
    color:grey;
    margin:1vh 0;
    font-size:15px;
}
.card a{
    text-decoration: none;
    padding:1vh 2vh;
    margin:1vh 0;
    border:solid 1.5px white;
    width:fit-content;
    color: white;
    background: rgba(255, 255, 255, 0.116);
}