.home{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height:90vh;
    align-items: center;
    justify-content: center;
}
.home-content{
    display:flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    width:100vw;
    justify-content: space-between;
}
.home-center{
    display:flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left:16vh;
    align-items: center;
    justify-content: center;
}
.home h1{
    font-family: 'Barlow Condensed', sans-serif;
    font-size:65px;
    text-align: center;
    margin:0;
}
.icons{
    display:flex;
    flex-direction:column;
    margin-right:10vh;
}
.icons img{
    height:4vh;
    margin:2vh 0;
}
#purple{
    color:#717CE3;
}
#subtitle{
    color:#888888;
    text-align: center;
    font-size:28px;
}
.buttons{
    display:flex;
    flex-direction:row;
    align-items:center;
}
button{
    padding:1.6vh 4vh;
    margin:2vh 2vh 8vh 2vh;
    border:none;
    cursor:pointer;
    outline:none;
}
#cta{
    background:black;
    color:white;
    font-weight:500;
    border:solid 2px black;
    font-size:17px;
}
#cta2{
    color:black;
    background:white;
    font-weight:500;
    font-size:17px;
    border:solid 2px black;
}
#down{
    display: flex;
    align-items:center;
    justify-content: center;
    height:50px;
    width:50px;
    border-radius:30px;
    background:#717CE3;
    cursor:pointer;
    margin-bottom: 4vh;
}
#down img{
    height:25px;
    transform: rotate(90deg);
}
@media screen and (max-width:1100px){
    .home h1{
        font-size:55px;
    }
    #subtitle{
        font-size:20px;
        margin:2vh 4vh;
    }
    .icons img{
        height:3vh;
        margin:1vh 0;
    }
}
@media screen and (max-width:800px){
    .home-content{
        display:flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: center;
        width:100vw;
        justify-content: space-between;
    }
    .home-center{
        display:flex;
        flex-direction: column;
        flex-grow: 1;
        margin-left:0;
        margin-top:8vh;
        align-items: center;
        justify-content: center;
    }
    .icons{
        display:flex;
        flex-direction:row;
        margin-right:0;
        margin-bottom: 4vh;
    }
    .icons img{
        height:25px;
        margin:0 2vh;
    }
}
@media screen and (max-width:500px){
    .home h1{
        font-size:45px;
    }
    #subtitle{
        font-size:18px;
        margin:2vh 4vh;
    }
}