.home{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height:90vh;
    align-items: center;
    justify-content: center;
}
.home-content{
    display:flex;
    flex-direction: column;
    flex-grow: 1;
    width:100vw;
    align-items: center;
    justify-content: center;
}
.home h1{
    font-family: 'Barlow Condensed', sans-serif;
    font-size:65px;
    text-align: center;
    margin:0;
}
#purple{
    color:#717CE3;
}
#subtitle{
    color:#888888;
    text-align: center;
    font-size:28px;
}
.buttons{
    display:flex;
    flex-direction:row;
    align-items:center;
}
button{
    padding:1.6vh 4vh;
    margin:2vh 2vh 8vh 2vh;
    border:none;
    outline:none;
}
#cta{
    background:black;
    color:white;
    font-weight:500;
    border:solid 2px black;
    font-size:17px;
}
#cta2{
    color:black;
    background:white;
    font-weight:500;
    font-size:17px;
    border:solid 2px black;
}
#down{
    display: flex;
    align-items:center;
    justify-content: center;
    height:50px;
    width:50px;
    border-radius:30px;
    background:#717CE3;
    margin-bottom: 4vh;
}
#down img{
    height:25px;
    transform: rotate(90deg);
}
@media screen and (max-width:900px){

}