.home{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    height:90vh;
    margin:0;
    justify-content: center;
}
.home-content{
    display:flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    width:100vw;
    justify-content: space-between;
}
.home-center{
    display:flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left:3vw;
    align-items: center;
    padding-left: 6vh;
    justify-content: center;
}
.home h1{
    font-weight: 200;
    font-size:65px;
    text-align: center;
    margin:0;
    line-height: 110%;
}
.icons{
    display:flex;
    flex-direction:column;
    padding-right: 2vh;
    margin-right:3vw;
}
.icons img{
    height:4vh;
    width:4vh;
    margin:2vh 0;
}
#purple{
    color:#717CE3;
}
#subtitle{
    color:#888888;
    text-align: center;
    font-size:28px;
}
.buttons{
    display:flex;
    flex-direction:row;
    align-items:center;
}
button{
    padding:1.6vh 4vh;
    margin:2vh 2vh 8vh 2vh;
    border:none;
    cursor:pointer;
    outline:none;
}
.button-link{
    text-decoration: none;
    color:white;
}
#cta{

    background:black;
    text-decoration: none;

    color:white;
    font-family: 'Nunito', sans-serif;
    font-weight:300;
    letter-spacing: 0.1rem;
    border:solid 2px #222222;
    font-size:14px;
}
#cta2{
    color:#222222;
    background:white;
    font-family: 'Nunito', sans-serif;
    font-weight:700;
    letter-spacing: 0.1rem;
    font-size:14px;
    border:solid 2px #222222;
}
#down{
    display: flex;
    align-items:center;
    justify-content: center;
    height:50px;
    width:50px;
    border-radius:30px;

    cursor:pointer;
    background:#000000;

    opacity: 0.8;
    margin-bottom: 4vh;
}
#down img{
    height:25px;
    transform: rotate(90deg);
}
@media screen and (max-width:1100px){
    .home h1{
        font-size:55px;
    }
    #subtitle{
        font-size:20px;
        margin:2vh 4vh;
    }
    .icons img{
        height:3vh;
        margin:1vh 0;
    }
}
@media screen and (max-width:800px){
    .home-content{
        display:flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: center;
        width:100vw;
        justify-content: space-between;
    }
    .home-center{
        display:flex;
        flex-direction: column;
        flex-grow: 1;
        margin-left:0;
        padding-left: 0;
        margin-top:8vh;
        align-items: center;
        justify-content: center;
    }
    .icons{
        display:flex;
        flex-direction:row;
        margin-right:0;
        margin-bottom: 4vh;
    }
    .icons img{
        height:25px;
        width:auto;
        margin:0 2vh;
    }
    .home h1{
        font-size:50px;
    }
}
@media screen and (max-width:500px){
    .home h1{
        font-size:40px;
    }
    #subtitle{
        font-size:18px;
        margin:2vh 4vh;
    }
    #down{
        height:40px;
        width:40px;
        margin-bottom: 8vh;
    }
    #down img{
        height:20px;
    }
}