.nav{
    display:flex;
    flex-direction:row;
    max-height:10vh;
    height:10vh;
    width:94vw;
    position:sticky;
    z-index:100;
    top:0;
    background:rgb(255, 255, 255);
    padding:0 3vw;
    align-items: center;
    justify-content: space-between;
}
.inner-nav{
    display:flex;
    flex-direction: row;
    text-decoration: none;
    color:black;
    font-size:16px;
}
.navlink{
    color:black;
    text-decoration: none;
}
.nav-dp{
    height:50px;
    margin:0;
    margin-right: 2vh;
    border-radius: 30px;
}
.inner-nav p{
    cursor:pointer;
    color:black;
    font-size:15px;

}
.inner-nav-item{
    margin:auto 2vh;
    font-weight: 500;
    font-size:12px;
    letter-spacing: 0.1rem;
}

#hide-nav{
    font-weight: 500;
    font-size:16px;
    cursor: pointer;
    text-decoration: none;
    color:black;
}
.inner-nav a{
    color:black;
}
.nav-small{
    display:none;
}
.dropdown{
    display: none;
}
.small-nav-dp{
    height:10vh;
    width:10vh;
    border-radius:7vh;
}
.close-dpd{
    align-self: flex-end;
    height:2vh;
    width:auto;
    cursor: pointer;
    padding:3vw;
}
.small-nav-item{
    color:black !important;
    font-size:16px;
    cursor:pointer;
}
.small-footer{
   position: absolute;
   bottom:8vh;
   color:grey;
}
.nav-icons{
    display:flex;
    flex-direction:row;
    position:absolute;
    bottom:14vh;
}
.nav-icons img{
    height:3vh;
    width:3vh;
    margin-right:2vh;
}
.small-img-cont{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    color:black;
}
@media screen and (max-width:800px) {
    #hide-nav{
        display:none;
    }
}
@media screen and (max-width: 700px) {
    .dropdown{
        width: 94vw;
        height:96vh;
        align-items: center;
        background:rgb(255, 255, 255);
        position: fixed;
        z-index:200;
        box-shadow:-5px 0 12px rgba(0, 0, 0, 0.144);
        top:0;
        right:0;
        display:flex;
        flex-direction:column;
        padding:2vh 3vw;
    }
    .inner-nav:nth-child(2){
        display:none;
    }
    .nav{
        position:fixed;
        background: none;
    }
    .nav-small{
        display:flex;
        background: white;
        border-radius: 6vh;
        margin:0 1vh;
        padding:1vh;
        cursor:pointer;
    }
    .nav-small img{
       height:4vh;
       width:auto;
    }
}
