@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&family=Nunito:wght@200;300;400;500&display=swap');
body{
  width:100vw;
  margin:0  !important;
  padding: 0 !important;
  overflow-x: hidden;
  font-family: 'Nunito', sans-serif;
}